<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- Android TV compatibility declarations: touchscreen is optional, leanback supported -->
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:name=".RezkaApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:banner="@drawable/tv_banner"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:banner="@drawable/tv_banner"
            android:label="@string/app_name"
            android:supportsPictureInPicture="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <!-- Перехват прямых ссылок со всех предустановленных зеркал Rezka -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="rezka-tv.org" />
                <data android:host="*.rezka-tv.org" />
                <data android:host="hdrezka.club" />
                <data android:host="*.hdrezka.club" />
                <data android:host="hdrezka.ag" />
                <data android:host="*.hdrezka.ag" />
                <data android:host="rezka.ag" />
                <data android:host="*.rezka.ag" />
                <data android:host="hdrezka.cm" />
                <data android:host="*.hdrezka.cm" />
                <data android:host="hdrezka.me" />
                <data android:host="*.hdrezka.me" />
                <data android:host="hdrezka.tv" />
                <data android:host="*.hdrezka.tv" />
                <data android:host="hdrezka.pro" />
                <data android:host="*.hdrezka.pro" />
                <data android:host="rezka.live" />
                <data android:host="*.rezka.live" />
                <data android:host="hdrezka.world" />
                <data android:host="*.hdrezka.world" />
            </intent-filter>

            <!-- Перехват ссылок на фильмы Rezka с пользовательских кастомных зеркал по путям контента -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <data android:pathPrefix="/films/" />
                <data android:pathPrefix="/series/" />
                <data android:pathPrefix="/animation/" />
                <data android:pathPrefix="/cartoons/" />
            </intent-filter>

            <!-- Перехват через системное меню «Поделиться» (ACTION_SEND) для любых текстовых ссылок -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
